parameters:
    level: 8

    phpVersion: 80500

    paths:
        - src/
        - fixtures/

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    doctrine:
        objectManagerLoader: tests/object-manager.php
